// colors
$black: #070a0e;
$grey: rgba(7, 10, 14, 0.55);
$light-cyan: #edeff5;
$cyan: #bbc8dd;
$dark-cyan: #94a3ba;
$navy: #2e4975;
$light-red: #e03d4d;
$red: #df3143;
$white: #ffffff;

// font sizes
$font-xxs: 10px;
$font-xs: 13px;
$font-s: 15px;
$font-m: 17px;
$font-l: 20px;
$font-xl: 38px;

// font family: https://ant.design/docs/spec/font#Font-Family
$font-family-content: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-title: Avenir, $font-family-content;

$content-width: 940px;
