@import './constants';

@mixin center-block($width: $content-width) {
  margin: 0 auto;
  width: $width;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin vertical-center($height) {
  height: $height;
  line-height: $height;
}

// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_hide-text.scss
// https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin text-hide() {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
