@import './core/constants';
@import './core/mixins';

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 60px 45px 0 60px;

  a {
    text-decoration: none;
  }

  .homepage {
    color: $white;
    font-size: $font-l;
    font-weight: bold;
    float: left;

    &:hover {
      color: $cyan;
    }
  }

  .download-btn {
    float: right;
  }
}
