@import './core/constants.scss';
@import './core/mixins.scss';

.skills {
  background-image: url(https://static.wixstatic.com/media/05e3dc_cc646f530d6846828d53dd3216ec8023~mv2.jpg/v1/fill/w_245h_138al_cq_80usm_0.66_1.00_0.01blur_2/05e3dc_cc646f530d6846828d53dd3216ec8023~mv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-height: 708.03px;

  .skills_title {
    margin: 0 auto;
    padding-top: 102px;
    width: 941px;
    ::after {
      border-top: 2px solid $white;
    }
    h2 {
      color: $white;
      font-family: $font-family-title;
      font-size: $font_xl;
      letter-spacing: 3.8px;
    }
  }
  .skills_content {
    height: 434px;
    width: 941px;
    margin: 0 auto;
    display: flex;
    .skill_boxs {
      flex: 1;
      display: block;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &.light_color_box {
        background-color: $cyan;
      }
      &.dark_color_box {
        background-color: $dark-cyan;
      }
      .skills_name {
        text-align: center;
        color: rgb(7, 10, 14);
        font-family: avenir-lt-w01_85-heavy1475544;
      }

      .skills_level {
        text-align: center;
        color: #df3143;
        font-family: avenir-lt-w01_85-heavy1475544;
      }
    }

    .skills_ms_excel {
      @mixin size($width: 145.5px) {
      }
      &.skills_name {
        font-size: 40px;
      }
    }
  }
}
