@import './core/constants';
@import './core/mixins';

//skill container
$skill-s: 145px;
$skill-m: 217.5px;
$skill-l: 290px;
$skill-xl: 435px;

h2 {
  font-size: $font-xl;
}

#skills {
  background-color: $dark-cyan;
  height: max-content;
  position: relative;
}

.skills-container {
  @include center-block;
  width: 941px;
  height: 434.3px;
  margin-bottom: 35px;
  background-color: red;
}

//skills display

.skill-excel {
  height: $skill-s;
  width: $skill-s;
  position: absolute;
}

.skill-word {
  margin-left: $skill-s;
  height: $skill-s;
  width: $skill-s;
  position: absolute;
}

.skill-adobe {
  height: $skill-m;
  width: $skill-m;
  margin-left: $skill-s * 2;
  position: absolute;
}

.skill-spanish {
  height: $skill-xl;
  width: $skill-xl;
  margin-left: $skill-s * 2 + $skill-m;
  position: absolute;
}

.skill-pp {
  height: $skill-l;
  width: $skill-l;
  margin-top: $skill-s;
  position: absolute;
}

.skill-french {
  height: $skill-m;
  width: $skill-m;
  margin-left: $skill-l;
  margin-top: $skill-m;
  position: absolute;
}

.skill_white {
  background-color: $white;
}

.skill_cyan {
  background-color: $cyan;
}
